*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 body{
    margin: 0;
 }
header > img{
    width: 100px;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 20px;
}

#menu{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    list-style: none;
}

#menu a{
    /* remove o sublinhado do link */
    text-decoration: none;
    /* muda a cor do texto */
    color: #000;
    /* define o espaço interno do elemento */
    padding: 8px 18px;
    /* define o tamanho da fonte, e uma medida de fonte responsiva */
    font-size: 1.3rem;
}

#perfil {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 20px;
    gap: 110px;
    align-items: center;
}

#perfil-dados h1{
    font-size: 4rem;
    line-height: 1.4;
}

#perfil-dados h2{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#perfil-dados p{
    margin-top: 0;
    font-style: oblique;
    color: #6e6d6e;
}

#projetos{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 110px;
}

#projetos h2{
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 5ch;
    color: #202D73;
    
}



